.map_container {
    width: 100%;
    height: 100dvh;
    color: #fff;
}

.map_container__map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.geolocation {
    position: fixed;
    bottom: 80px;
    right: 0;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.geolocation button {
    color: #fff;
}

.geolocation> :first-child {
    width: calc(100% - 70px);
    height: 100%;
    border-radius: 15px;
    border: none;
    background: #333;
    font-size: var(--fs4);
}

.geolocation>:last-child {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 35px;
    background: #333;
    border-radius: 50%;
}