:root {
  --iwh: 130px;
  --lmw: 600px;
}

.login_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  z-index: 99999;
}

.login_container > span {
  position: absolute;
  top: 2.5%;
  left: 4%;
  font-size: calc(var(--fs1) + 5px);
  color: #eee;
  cursor: pointer;
}

/*========== login ===========*/
.login {
  position: relative;
  max-width: var(--lmw);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2% 2% 3%;
  border-radius: 20px;
  gap: var(--gap2);
}

.icon_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap1);
}

.icon_box > img {
  width: var(--iwh);
  height: var(--iwh);
  background: none;
  object-fit: cover;
}

.icon_box > h1 {
  inline-size: 100%;
  text-align: center;
  font-size: var(--fs1);
  color: #fff;
}

/* ============= login header ============= */
.login_body {
  width: 100%;
  display: flex;
  align-items: center;
}

/* ============ login body ========= */
.login_body {
  flex-direction: column;
  gap: var(--gap1);
}

.login :where(label, button) {
  width: 100%;
  height: 65px;
  font-size: var(--fs4);
  border-radius: 40px;
  color: #eee;
}

.login_body > label {
  position: relative;
  width: 100%;
  padding: 0 5%;
  display: flex;
  align-items: center;
  gap: var(--gap3);
  border: none;
  background: #333;
}

.login_body > label > input {
  flex: 1;
  height: 100%;
  background: none;
  border: none;
  font-size: var(--fs5);
  color: #eee;
}

.login_body > label > span {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  font-size: var(--fs3);
  color: #eee;
}

.login_body > button {
  border: none;
  background: #4bcc17;
  font-weight: 600;
  font-size: var(--fs5);
}

.login_body > button:active {
  background: #4acc17cc;
}

.login_body > span {
  font-size: var(--fs5);
  color: #ccc6;
}

.login_body > span > a {
  color: #4acc17cc;
}

.login_body > a {
  font-size: var(--fs5);
  color: #ccc;
  text-decoration: underline;
  letter-spacing: 1px;
}

@media (max-width: 500px) {
  .login_body :where(label, button) {
    height: 55px;
  }

  .login_body {
    gap: var(--gap2);
  }
}
