.my_favorite {
   width: 100%;
   min-height: 100%;
   display: flex;
   flex-direction: column;
   background: var(--cl7);
   color: var(--cl1);
   gap: 5vw;
}

.my_favorite>h1 {
   inline-size: 100%;
   padding: 4% 0;
   text-align: center;
   background: var(--cl2);
   font-size: var(--fs1);
   border-radius: 0 0 30px 30px;

}

/* ======== profil_card ====== */
.fovorite_card {
   width: 100%;
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   background: var(--cl2);
   padding: var(--pd4);
   border-radius: 30px 30px 0 0;
}

.fovorite_item {
   width: 100%;
   padding: 2% 0;
   display: flex;
   align-items: center;
   gap: var(--gap1);
   border-bottom: 1px solid #333;
}

.fovorite_item:last-child {
   border: none;
}

.fovorite_item>figure {
   width: 20%;
   height: 90px;
   border-radius: 10px;
   overflow: hidden;
}

.fovorite_item>figure>img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


.fovorite_item>p {
   font-size: var(--fs5);
}

.fovorite_item>button {
   width: 160px;
   height: 40px;
   border: none;
   border-radius: 8px;
   background: #ff8c00;
   color: var(--cl1);
   font-weight: bold;
   font-size: 16px;
   border: 2px solid transparent;
}

.give_raiting {
   display: flex;
   align-items: center;
   gap: var(--gap4);
   font-size: var(--fs5);
}


/* ========= foods ========== */
/* ========= foods ========== */
/* ========= foods ========== */

/* ========= foods ========== */
.foods {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 3%;
}

/* .foods > div {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   padding: 3%;
} */
.foods>div>p {
   font-size: 30px;
   padding-top: 10px;
}