:root {
    --sec-color: #8a8f99;
    --pri-color: #232731;
    --bg: #ffe566;
    --color-yolk: #f9d010;
}

.not_found_box {
    width: 100%;
    height: 100%;
    background: var(--cl7);
    color: var(--cl1);
}

.backword {
    position: fixed;
    top: 15px;
    left: 20px;
    font-size: var(--fs1);
    color: var(--cl1);
    z-index: 9;
}

.container {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-text {
    font-family: 'Satisfy', cursive;
    color: var(--cl1);
    font-size: calc(30px + (60 - 30)*(100vw - 320px)/(920 - 320));
    position: relative;
    left: 30px;
    letter-spacing: 1px;
}

.hat-cont {
    width: 7.5vw;
    height: 7.5vw;
    position: relative;
    transform: rotate(-30deg);
    top: -15px;
    animation: hat 1s infinite forwards;
}

.hat {
    width: 4vw;
    height: 3vw;
    border: 2px solid #eee;
    border-top: none;
    position: absolute;
    bottom: 0px;
    left: 15px;
}

.hat:after {
    width: 4vw;
    content: '';
    display: inline-block;
    border: 1px solid #eee;
    position: absolute;
    bottom: 7px;
    left: 0px;
}

.line {
    width: 0px;
    height: 6px;
    border: 1px solid #eee;
    position: absolute;
}

.lines {
    top: 50px;
    left: 45%;
}

.lines:after {
    content: '';
    top: -1px;
    left: 10px;
}

.lines:before {
    content: '';
    top: -1px;
    right: 10px;
}

.hat-base {
    height: 3vw;
    width: 15px;
    position: absolute;
}

.left {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 2px solid #eee;
    border-right: none;
    top: 13px;
    z-index: 2;
    background: var(--bg);
}

.left-opp {
    transform: rotate(180deg);
    right: 5px;
}

.top {
    height: 2vw;
    width: 4vw;
    position: absolute;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    left: 14px;
    border: 2px solid #eee;
    border-bottom: none;
}

.pan-wrapper {
    transform: scale(0.6);
    position: relative;
    left: 20%;
}

.center {
    width: 43vw;
    height: 43vw;
    border-radius: 50%;
    background-color: var(--sec-color);
    position: relative;
    z-index: 2;
    border: 1px solid #eee;
}

.sub-center {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: var(--pri-color);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}

.handle {
    width: 40px;
    height: 150px;
    position: absolute;
    left: 263px;
    top: 280px;
    transform: rotate(-35deg);
    background: #88470a;
    z-index: 2;
    border-radius: 10px;
}

.handle-sub {
    width: 25px;
    height: 50px;
    content: '';
    display: inline-block;
    position: absolute;
    left: 220px;
    top: 260px;
    transform: rotate(-38deg);
    background: var(--sec-color);
}

.egg {
    width: 20vw;
    height: 20vw;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    animation: egg 2s ease-in infinite forwards;
}

.yolk {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: var(--color-yolk);
    width: 50%;
    height: 50%;
    border-radius: 50%;
    box-shadow: inset var(--color-yolk) 0 0 0 4px,
        inset rgba(255, 255, 255, 0.3) 2px 2px 4px 6px,
        inset var(--color-yolk) 2px 2px 4px 16px,
        inset rgba(255, 255, 255, 0.3) -2px -2px 12px 12px,
        rgba(0, 0, 0, 0.05) 0 0 2px 2px;
}

.text {
    font-size: 240px;
    font-family: 'Satisfy', cursive;
    position: absolute;
    top: 20%;
    color: var(--cl1);
}

.center::after,
.center::before {
    content: '4';
    font-size: 240px;
    font-family: 'Satisfy', cursive;
    position: absolute;
    z-index: 2;
}

.center::after {
    content: '4';
    right: -150px;
}

.center::before {
    content: '4';
    left: -150px;
}

.btn_notfound {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn_notfound>span {
    font-size: var(--fs4);
    letter-spacing: 1px;
}

.btn_notfound>a {
    background: var(--cl2);
    color: var(--cl1);
    padding: 2vw 3vw;
    border-radius: 10px;
    font-size: var(--fs4);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn_notfound>a:hover {
    background: var(--cl7);
    color: var(--cl2);
}

@keyframes egg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes hat {

    0%,
    100% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(-25deg);
    }
}

@media (min-width: 920px) {
    .pan-wrapper {
        left: 22%;
    }
}

@media (max-width: 770px) {
    .handle {
        left: 265px;
        top: 270px;
    }

    .handle-sub {
        left: 230px;
        top: 260px;
    }
}

@media (max-width: 600px) {
    .handle {
        left: 250px;
        top: 250px;
    }

    .handle-sub {
        left: 220px;
        top: 240px;
    }
}

@media (max-width: 500px) {
    .handle {
        width: 30px;
        height: 100px;
        left: 170px;
        top: 173px;
    }

    .handle-sub {
        width: 20px;
        height: 40px;
        left: 140px;
        top: 155px;
    }

    .center::after,
    .center::before {
        font-size: 150px;
    }

    .btn_notfound {
        width: 100%;
        padding: 3vw 4vw;
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .handle {
        width: 25px;
        height: 90px;
        left: 155px;
        top: 155px;
    }

    .handle-sub {
        width: 15px;
        height: 30px;
        left: 135px;
        top: 150px;
    }

    .center::after,
    .center::before {
        font-size: 140px;
    }
}

@media (max-width: 360px) {
    .handle {
        left: 140px;
        top: 140px;
    }

    .handle-sub {
        left: 120px;
        top: 135px;
    }
}

@media (max-width: 320px) {
    .handle {
        width: 20px;
        height: 80px;
        left: 125px;
        top: 125px;
    }

    .handle-sub {
        width: 10px;
        height: 20px;
        left: 105px;
        top: 120px;
    }

    .btn_notfound {
        width: 100%;
        top: 100%;
        padding: 2vw 3vw;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 400;
    }
}