.my_profil {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   background: var(--cl7);
}

/* ============= user info =========== */
.user_info {
   width: 100%;
   display: flex;
   align-items: center;
   padding: var(--pd6);

   >h1 {
      inline-size: calc(100% - 100px);
      text-align: end;
      color: var(--cl1);
      font-size: calc(var(--fs1) + 10px);
   }

}

.user_info>img {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: rgba(141, 141, 141, 0.493) 0px 0px 50px;
}

/* ============= short path ============= */
.short_path {
   width: 100%;
   padding: var(--pd6);
   display: flex;
   align-items: center;
   gap: var(--gap1);
}

.short_path>figure {
   width: calc(100% / 3 - 15px);
   height: 200px;
   padding: 2%;
   background: var(--cl4);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   gap: var(--gap4);
}

.short_path>figure>span {
   font-size: var(--fs5);
   color: var(--cl1);
   text-align: center;
   letter-spacing: 2px;
}

.short_path>figure>img {
   height: 80px;
   object-fit: cover;
   background: transparent;
   margin-bottom: 7%;
}

.short_path>:first-child>img {
   height: 100px;
   margin-bottom: 0;
}

/* ============= user menu =============== */
.user_menu {
   width: 100%;
   padding: 5% 0;
   display: flex;
   flex-direction: column;
   /* gap: 5px; */
}

.user_menu>a {
   inline-size: 100%;
   padding: 0 5%;
   display: flex;
   align-items: center;
   line-height: 2.5;
   font-size: var(--fs4);
   color: var(--cl1);
   letter-spacing: 0.2rem;
   background: var(--cl2);
   transition: all 0.3s ease;
   /* border-radius: 20px; */
}

.user_menu>a:active {
   background: var(--cl4);
}

.user_menu>a>span {
   font-size: calc(var(--fs1) + 5px);
   color: var(--cl1);
   margin-right: 3vw;
}