.catalog_product {
    position: relative;
    width: calc(100% / 3 - 10px);
    padding: 1.5%;
    height: 380px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: var(--cl4);
    gap: var(--gap3);
    overflow: hidden;
}

.none::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0009;
    font-size: var(--fs4);
    text-align: center;
    color: #fff;
    z-index: 99;
}

.none:hover::after {
    content: 'Hozircha mavjud emas!';
}

.catalog_product>img {
    width: 100%;
    height: calc(100% - 40%);
    object-position: center;
    border-radius: 15px;
}

.product_info {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--cl6);
    font-weight: 500;
    gap: var(--gap4);
}

.product_info>:first-child {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}



.product_info>:first-child>:nth-child(1) {
    font-size: var(--fs4);
    font-weight: 500;
    border: none;
    outline: none;
}

.product_info>:first-child>span {
    font-size: var(--fs5);
}

.product_info>:first-child>:last-child {
    color: #ccc;
}

.btn_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--cl7);
    border: none;
    border-radius: 15px;
    font-size: var(--fs3);
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
}

.effect {
    animation: effect 2s ease alternate;
    text-align: center;
}

@keyframes effect {
    0% {
        transform: rotateX(0deg);
        opacity: 0.2;
    }

    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

.on_effect :where(button, span) {
    animation: on 1s ease alternate;
    text-align: center;
}

.off_effect :where(button, span) {
    animation: off 1s ease alternate;
    text-align: center;
}

@keyframes on {
    0% {
        transform: translateX(100%) rotate(999deg);
        opacity: 0.2;
    }

    100% {
        transform: translateX(0%) rotate(0deg);
        opacity: 1;
    }
}

@keyframes off {
    0% {
        transform: translateX(0%) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateX(100%) rotate(999deg);
        opacity: 0.2;
    }
}

.btn_box>button {
    padding: 6.5%;
    border: none;
    background: none;
    font-size: var(--fs6);
    color: var(--cl1);
    letter-spacing: 1.5px;
}

.btn_box>span {
    inline-size: calc(100% / 3);
    padding: 4% 0;
    font-size: var(--fs4);
    height: 100%;
    color: var(--cl1);
    text-align: center;
    user-select: none;
}

.btn_box>:first-child:active {
    background: linear-gradient(to left, #424242, #696464, #222121);
}

.btn_box>:last-child:active {
    background: linear-gradient(to right, #424242, #696464, #222121);
    opacity: 0.5;
}

.like_btn {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 2.3% 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: var(--cl7);
    border-radius: 15px;
    font-size: var(--fs4);
    color: var(--cl1);
    text-align: center;
}

.on_like {
    animation: on_like 0.5s ease-in-out alternate;
}

@keyframes on_like {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.like_btn> :first-child {
    position: absolute;
    font-size: 0%;
    transition: all 0.5s ease-in-out;
}

.on_like>:first-child {
    font-size: inherit;
}

@media(max-width: 450px) {
    .catalog_product {
        width: calc(100% / 2 - 7.5px);
        height: 330px;
        border-radius: 15px;
    }

    .catalog_product>img {
        border-radius: 12px;
    }

    .btn_box {
        border-radius: 12px;
    }
}

@media(max-width: 400px) {
    .catalog_product {
        height: 280px;
        border-radius: 10px;
    }

    .catalog_product>img {
        border-radius: 10px;
    }

    .btn_box {
        border-radius: 5px;
    }

    .like_btn {
        top: 10px;
        right: 10px;
        border-radius: 7px;
    }
}

@media(max-width: 360px) {
    .catalog_product {
        height: 250px;
    }

    .product_info>:first-child>:nth-child(1) {
        font-size: calc(var(--fs4) - 2px);
    }

    .product_info>:first-child>span {
        font-size: calc(var(--fs5) - 2px);
    }
}