.foods_box {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--cl7);
    color: var(--cl1);
}

.foods_box>h1 {
    inline-size: 100%;
    display: flex;
    align-items: center;
    font-size: calc(var(--fs1) + 10px);
    margin: 5% 0 0 5%;
}

.foods_box>h1>span {
    padding-right: 10%;
}

.category {
    width: 100%;
    padding: var(--pd4);
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    overflow-x: auto;
    gap: var(--gap2);
}

.category::-webkit-scrollbar {
    display: none;
}

.category>p {
    min-width: 140px;
    height: 140px;
    padding: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fs4);
    color: var(--cl1);
    background: var(--cl2);
    border-radius: 20px;
}

.category>p>img {
    width: 70px;
    height: 70px;
    background: transparent;
}

/* ============== food body =========== */
.food_body {
    width: 100%;
    min-height: 80vh;
    padding: var(--pd4);
    display: flex;
    flex-direction: column;
    background: var(--cl2);
    border-radius: 30px 30px 0 0;
}

.food_body>:last-child {
    border: none;
}

.food_body>h1 {
    font-size: var(--fs1);
}

.food_body_item {
    width: 100%;
    padding: 2% 0;
    display: flex;
    align-items: flex-start;
    gap: var(--gap1);
    border-bottom: 1px solid #000;
}

.food_body_item>img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.food_body_item>figcaption {
    width: calc(100% - 130px - 15px);
    height: 100%;
    padding: 1%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.food_body_item>figcaption>pre {
    font-size: var(--fs5);
    letter-spacing: 1px;
    line-height: 1.3;
}


.food_body_item>figcaption>pre>:first-child {
    font-size: var(--fs2);
    text-transform: capitalize;
}

.food_body_item>figcaption>span {
    font-size: var(--fs5);
    background: var(--cl5);
    color: #333;
    padding: 1.5% 1%;
    border-radius: 50%;
}

@media(max-width: 570px) {
    .category>p {
        min-width: 120px;
        height: 120px;
    }

    .category>p>img {
        width: 60px;
        height: 60px;
    }

    .food_body_item>img {
        width: 120px;
        height: 120px;
    }

    .food_body_item>figcaption {
        width: calc(100% - 120px - 12px);
    }
}

@media(max-width: 430px) {
    .foods_box>h1 {
        font-size: calc(var(--fs1) + 5px);
        margin: 5% 0 0 5%;
    }

    .food_body>h1 {
        font-size: var(--fs4);
        padding: 0 0 3% 0;
    }

    .category>p {
        min-width: 100px;
        height: 100px;
        font-size: var(--fs5);
    }

    .category>p>img {
        width: 40px;
        height: 40px;
    }

    .food_body_item>img {
        width: 100px;
        height: 100px;
    }

    .food_body_item>figcaption>span {
        padding: 2% 1%;
    }

    .food_body_item>figcaption {
        width: calc(100% - 100px - 10px);
    }
}

@media(max-width: 360px) {
    .category>p {
        min-width: 90px;
        height: 90px;
        font-size: var(--fs5);
    }

    .food_body_item>img {
        width: 90px;
        height: 90px;
    }

    .food_body_item>figcaption>span {
        padding: 2% 1%;
    }

    .food_body_item>figcaption {
        width: calc(100% - 90px - 8px);
    }
}