.navbar_box {
    width: 100%;
    padding: var(--pd1);
    display: flex;
}

.navbar_box form {
    width: 100%;
    padding: inherit;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background: var(--cl2);
    color: var(--cl1);
    overflow: hidden;
}

.navbar_box svg {
    font-size: var(--fs2);
}

.navbar_box input {
    height: 100%;
    width: calc(100% - 8%);
    padding-left: 1vw;
    border: none;
    background: transparent;
    font-size: var(--fs4);
    color: var(--cl1);
}

.navbar_box input::placeholder {
    color: #ccc;
}

.navbar_box button {
    width: calc(100% - 92%);
    height: 100%;
    border: none;
    background: none;
    color: var(--cl1);
    font-size: var(--fs2);
    border-left: 1px solid var(--cl3);
}

@media(max-width: 550px) {
    .navbar_box form {
        height: 45px;
    }

    .navbar_box input {
        width: calc(100% - 12%);
    }

    .navbar_box button {
        width: calc(100% - 88%);
    }
}

@media(max-width: 430px) {
    .navbar_box form {
        height: 40px;
    }

    .navbar_box input {
        width: calc(100% - 15%);
        padding-left: 2vw;
    }

    .navbar_box button {
        width: calc(100% - 85%);
    }
}