.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 9999999999999;
}

.close_loading {
    display: none;
}

/* .loading>img {
} */