/* .map {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kutucuk {
    background: yellow;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid red;
    border-top: 0;
}

.esas {
    width: 100%;
    height: calc(100dvh - 50px);
    padding: 10px 10px 20px 10px;
    border: 1px solid red;
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: inherit;
}

#harita {
    border: none;
} */